@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Cardo');

#container{
  max-width: 900px;
  min-width: 700px;
  margin: 0 auto;
}

body{
  font-family: 'Playfair Display', serif;
  font-size: 14px;
}

#contact ul{
  margin-left: 5px;
  list-style: none;
  font-size: 18px;
  padding-top: 20px;
}

#contact li{
  margin-top: 20px;
}

nav li{
  display: inline-block;
  padding-right: 40px;
  padding-left: 10px;
}

a{
  text-decoration: none;
}

a:default{
  color: grey;
}

a:hover{
  background-color: #dcdcdc;
}

a:visited{
  color: grey;
}

nav{
  background-color: #eee;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
}

img{
  height: 200px;
  float: left;
  margin-right: 20px;
  border: 6px solid #eee;
}

#education{
  clear: left;
  border-bottom: 2px solid #eee;
}

#experience{
  border-bottom: 2px solid #eee;
}

#skills{
  float: left;
  max-width: 36%;
  border-right: 2px solid #eee;
  padding-right: 7%;
}

#activities{
  float: right;
  max-width: 57%;
}

h1{
  font-family: 'Cardo', serif;
  font-size: 40px;
  margin-top: 70px;
  color: rgb(178, 128, 175);
}


h2{
  font-family: 'Cardo', serif;
  font-size: 30px;
  color: rgb(178, 128, 175);
}

strong{
  color: rgb(130, 168, 178);
}

header{
  border-bottom: 2px solid #eee;
  padding-bottom: 60px;
}
